*, html {
 padding: 0;
 margin: 0;
 user-select: none;
 box-sizing: border-box;
}

:root {
 --primary-color: #813fff;
 --primary-hover: #ad89f1;
 --primary-text-hover: #cecdd0;
 --secondary-color: #9e7aff;
 --background: #e2d3ff;
 --primary-icon-color: ;
 --primary-white: #eaeaea;
 --secondary-background: #e8d6f3;
 --primary-background: #e5e5e5;
 --primary-font-size: 20px;
 --secondary-font-size: 16px;
 --soft-shadow: rgba(113,113,113,0.591);
 --primary-icon-size: ;
 --secondary-icon-size: ;
}

::placeholder {
 color: var(--primary-white);
}

.loading-page {
 position: relative;
 height: 90vh;
 width: 100%;
}

.loading-page.actives {
 visibility: hidden;
 display: none;
}

.brand-icon {
 position: absolute;
 top: 0;
 width: 100%;
 height: 100%;
 background-size: 100%;
}

.main-page {
 position: relative;
 height: 120vh;
 display: none;
 align-items: center;
 flex-direction: column;
 justify-content: center;
 visibility: hidden;
 opacity: 0;
}

.main-page.actives {
 opacity: 1;
 display: flex;
 visibility: visible;
}

footer {
 bottom: 0;
 width: 100%;
 z-index: 10;
 display: flex;
 position: fixed;
 padding: 7px 10px;
 align-items: center;
 justify-content: space-around;
 background-color: var(--primary-color);
}

.wrapper-search {
 position: fixed;
 width: 100%;
 top: 30px;
 z-index: 10;
 opacity: .8;
 display: flex;
 align-items: center;
 justify-content: space-around;
}

.search {
 width: 65%;
 display: flex;
 padding: 5px 10px;
 align-items: center;
 border-radius: 10px;
 font-family: Helvetica;
 justify-content: space-around;
 background-color: var(--secondary-color);
}

#more-options {
 padding: 5px;
 border-radius: 10px;
 color: var(--primary-white);
 background-color: var(--secondary-color);
}

.container-option-search {
 position: fixed;
 top: 0;
 width: 100%;
 display: none;
 visibility: hidden;
 height: calc(100% + 75px);
 background-color: var(--background);
}

.container-option-search.active {
 display: block;
 visibility: visible;
}

.container-option-search .wrapper-box-options {
 top: 12%;
 height: 100%;
 width: 100%;
 position: absolute;
 border-top: 3px solid var(--primary-color);
}

.container-option-search .wrapper-box-options .box-options {
 width: 100%;
 display: flex;
 align-items: center;
 justify-content: center;
 transition: .3s ease-in-out;
 padding: 15px 20px 10px 20px;
 justify-content: space-between;
 border-bottom: 2px solid var(--secondary-color);
}

.container-option-search .wrapper-box-options .box-options:hover {
 color: var(--primary-white);
 background-color: var(--primary-hover);
}

.container-option-search .wrapper-box-options .box-options .option-text {
 font-size: 16px;
 font-weight: 500;
}

.container-option-search .wrapper-box-options .box-options .icon {
 color: var(--primary-white);
 font-size: 20px;
 padding: 7px;
 border-radius: 50%;
 background-color: var(--secondary-color);
}

.wrapper-search .icon, .search .icon {
 font-size: 24px;
 color: var(--primary-color);
}

.search .icon {
 color: var(--primary-white);
}

.search .input {
 outline: none;
 border: none;
 width: 70%;
 font-size: 15px;
 color: var(--primary-white);
 background-color: var(--secondary-color);
}

.cta-btn {
 display: flex;
 border-radius: 50%;
 align-items: center;
 justify-content: center;
}

.cta-btn .icon {
 font-size: 23px;
 color: var(--primary-white);
}
.container-category, .container-models {
 display: flex;
 position: relative;
 align-items: center;
 justify-content: center;
 height: 350px;
 width: 100%;
 z-index: -1;
 overflow: hidden;
}

.main-title {
 font-size: 20px;
 font-weight: 500;
 padding: 3px 18px;
 letter-spacing: 3px;
 border-radius: 10px;
 font-family: Sans-Serif;
 color: var(--primary-white);
 background-color: var(--secondary-color);
}

.container-category {
 gap: 10px;
 display: flex;
 padding-top: 10px;
 align-items: center;
 flex-direction: column;
 justify-content: start;
}

.wrapper-category-items {
 display: flex;
 width: 100%;
 gap: 15px;
 height: 100%;
 flex-wrap: wrap;
 align-items: center;
 justify-content: space-around;
}

.wrapper-category-items .items .items-image {
 position: absolute;
 height: 100%;
 width: 100%;
}

.wrapper-category-items .wrapper-items {
 gap: 8px;
 display: flex;
 align-items: center;
 flex-direction: column;
 justify-content: center;
}

.wrapper-category-items .wrapper-items .name-items {
 font-size: 14px;
 font-weight: 500;
}

.container-category .wrapper-items .items {
 position: relative;
 width: 65px;
 padding: 7px;
 height: 65px;
 padding: 5px;
 display: flex;
 overflow: hidden;
 border-radius: 50%;
 align-items: center;
 object-fit: contain;
 justify-content: center;
 border: 2px solid var(--secondary-color);
 background-color: var(--secondary-color);
}

#main-models {
 height: 350px;
}

.container-models .models-bg {
 position: absolute;
 width: 120%;
 height: 120%;
 object-fit: contain;
}

#models2 {
 top: -50px;
}
 
.container-page-login {
 position: fixed;
 width: 100%;
 top: 0;
 z-index: 10;
 display: none;
 visibility: hidden;
 align-items: center;
 justify-content: center;
 height: calc(100% + 50px);
 background-color: var(--background);
}

.container-page-login.actives {
 visibility: visible;
 display: flex;
 }

.container-page-login .content-login {
 display: flex;
 gap: 20px;
 width: 100%;
 align-items: center;
 flex-direction: column;
 justify-content: center;
}

.container-page-login .content-login .box-brand {
 position: relative;
 width: 200px;
 height: 100px;
}

.container-page-login .content-login .box-brand .brand-nobg {
 position: absolute;
 object-fit: contain;
 width: 100%;
 height: 100%;
}
.container-page-login .content-login .wrapper-input-number {
 width: auto;
 opacity: .7;
 height: auto;
 display: flex;
 padding: 7px 15px;
 border-radius: 10px;
 align-items: center;
 transition: .3s ease-in-out;
 justify-content: space-between;
 background-color: var(--secondary-color);
 box-shadow: -2px 4px 0px var(--primary-color);
}

.container-page-login .content-login .wrapper-input-number:hover {
 background-color: #9e7affc5;
 box-shadow: -2px 4px 0px #4d229e;
}

.container-page-login .content-login .login-sigin {
 color: var(--primary-color);
 font-size: 13px;
 font-weight: 500;
 font-family: Helvetica;
 text-transform: uppercase;
}

.container-page-login .content-login .wrapper-input-number .icon {
 font-size: 20px;
 margin-right: 10px;
 color: var(--primary-white);
}

.container-page-login .content-login .box-other-login {
 display: flex;
 gap: 25px;
}

.container-page-login .content-login .box-other-login .icon {
 font-size: 30px;
 color: var(--secondary-color);
}

.container-page-login .content-login .input-number {
 outline: none;
 height: 20;
 width: 90%;
 border: none;
 font-size: 15px;
 color: var(--primary-white);
 background-color: transparent;
}

.input-number::placeholder {
 color: var(--primary-white);
}

.container-page-category {
 visibility: hidden;
 height: 100vh;
 width: 100%;
 display: none;
 overflow-y: scroll;
 overscroll-behavior: contain;
}

.container-page-category.actives {
 display: flex;
 visibility: visible;
}

.container-page-category .aside-category-list {
 height: 100%;
 width: 150px;
}

.container-page-category .aside-category-list .cta-category {
 width: 100%;
 height: 145px;
 display: flex;
 padding: 10px 0;
 flex-direction: column;
 justify-content: space-between;
 background-color: var(--secondary-background);
 border-bottom: 4px solid var(--secondary-color);
 border-right: 3px solid var(--secondary-color);
}

.container-page-category .aside-category-list .cta-category .box-brand {
 position: relative;
 width: 110%;
 height: 50%;
}

.container-page-category .aside-category-list .cta-category .box-brand .image {
 position: absolute;
 object-fit: contain;
 width: 100%;
 height: 100%;
 left: -10%;
}

.container-page-category .aside-category-list .cta-category .icon {
 font-size: 30px;
 margin-left: 10px;
 border-radius: 5px;
 margin-bottom: 10px;
 color: var(--primary-white);
 transition: .3s ease-in-out;
 background-color: var(--secondary-color);
}

.container-page-category .aside-category-list .cta-category .icon:hover {
 color: var(--primary-text-hover);
 background-color: var(--primary-hover);
}

.container-page-category .aside-category-list {
 display: flex;
 align-items: center;
 flex-direction: column;
 justify-content: center;
}

.container-page-category .aside-category-list .wrapper-category-list {
 display: flex;
 height: 100%;
 padding: 15px 0;
 flex-wrap: wrap;
 overflow: scroll;
 box-shadow: inset 0px 6px 5px var(--soft-shadow);
 background-color: var(--primary-background);
 border-right: 3px solid var(--secondary-color);
}
.container-page-category .aside-category-list .wrapper-category-list::-webkit-scrollbar {
 width: 5px;
}

.container-page-category .aside-category-list .wrapper-category-list .items-list {
 width: 100%;
 height: 65px;
 display: flex;
 padding-left: 5px;
 align-items: center;
 justify-content: center;
 transition: .3s ease-in-out;
 border-left: 2px solid transparent;
}
.container-page-category .aside-category-list .wrapper-category-list .items-list:hover {
 color: var(--primary-white);
 background-color: var(--primary-hover);
 box-shadow: inset 2px 4px 2px var(--soft-shadow) ;
}

.container-page-category .aside-category-list .wrapper-category-list .items-list .title-category {
 font-size: 13px;
 font-weight: 500;
 padding-right: 20px;
 font-family: Helvetica;
 text-transform: capitalize;
}

.container-page-category .content-items-category {
 width: 100%;
 overflow: hidden;
 background-color: var(--secondary-background);
}

.container-page-category .content-items-category .header-list-category {
 gap: 20px;
 width: 100%;
 height: auto;
 display: flex;
 padding: 20px 10px;
 align-items: center;
 justify-content: start;
 flex-direction: column;
}

.container-page-category .content-items-category .header-list-category .search {
 width: 100%;
}

.container-page-category .content-items-category .header-list-category .main-title {
 padding: 0;
 font-size: 21px;
 color: var(--primary-color);
 background-color: transparent;
}

.container-page-category .content-items-category .wrapper-content-items {
 gap: 35px 15px;
 display: flex;
 flex-wrap: wrap;
 padding: 15px 0;
 overflow: scroll;
 height: calc(100% + -150px);
 justify-content: space-around;
 box-shadow: inset 0px 6px 5px var(--primary-hover);
 border-top: 3px solid var(--secondary-color);
}

.wrapper-content-items::-webkit-scrollbar {
 width: 5px;
}

.container-page-category .content-items-category .wrapper-content-items::-webkit-scrollbar-thumb {
 background-color: var(--secondary-color);
}

.container-page-category .content-items-category .wrapper-content-items .items-product {
 gap: 10px;
 width: 100px;
 height: 140px;
 display: flex;
 flex-direction: column;
 justify-content: center;
}

.container-page-category .content-items-category .wrapper-content-items .items-product .name-product {
 font-size: 11px;
 font-weight: 420;
 text-align: center;
 font-family: Helvetica;
}

.container-page-category .content-items-category .wrapper-content-items .image-product {
 position: relative;
 width: 100%;
 height: 100%;
 overflow: hidden;
 border-radius: 10px;
 background-color: var(--primary-white);
 box-shadow: 5px 5px 3px var(--primary-hover);
}

.container-page-category .content-items-category .wrapper-content-items .image-product .image {
 left:0;
 width: 110%;
 height: 100%;
 position: absolute;
 background-size: cover;
}