<div class="container-page-category">
  <aside class="aside-category-list">
   <div class="cta-category">
    <div class="box-brand">
     <img src="../assets/product/clothes/brand-nobg.png" class="image"/>
    </div>
    <ion-icon class="icon" onclick="window.location.href='../pages/home.php'" name="arrow-back"></ion-icon>
   </div>
   <div class="wrapper-category-list">
    <div class="items-list">
     <p class="title-category">Cottagecore</p>
    </div>
   </div>
  </aside>
  <div class="content-items-category">
   <div class="header-list-category">
    <h2 class="main-title">CATEGORY</h2>
    <div class="search">
     <ion-icon class="icon" name="search"></ion-icon>
     <input placeholder="Search Product" class="input" type="text"/>
     <ion-icon class="icon" name="camera"></ion-icon>
   </div>
   </div>
   <div class="wrapper-content-items">
    <div class="items-product">
     <div class="image-product">
      <img src="../assets/product/sell/product.jpeg" alt="No Product" class="image"/>
     </div>
     <div class="name-product">Cottagecore Milk Maid Top</div>
    </div>
   </div>
  </div>
</div>